.container{
	width: 85%;
	margin: 30px 5%;
	height: 100%; 
	padding: 30px 2.5%;
	background-color: #151515;
}

h3{
	margin: 0;
	margin-bottom: 30px;
}

p{
	margin: 30px 0;
	font-size: 14px;
}

form{
	width: 97%;
	background-color: #0f0f0f;
	padding: 30px 1.5%;
}

input, textarea{
	padding: 10px 4px;
	border: 3px solid #151515;
	background-color: #0f0f0f;
	color: #d6d6d6;
}

input {
	width: 250px;
	padding: 10px 4px;
	transition: 0.2s;
}

input[type="submit"]:hover{
	background-color: #151515;
	cursor: pointer;
}

textarea{
	padding-top: 4px;
	margin: 30px 0;
	font-family: Montserrat;
	width: 70%;
	max-width: 70%;
	height: 150px;
}
